<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>关于 | xuesenLi</title>

    <head th:insert="~{common :: head}"></head>

</head>
<body>
<div class="head_line"></div>
<div class="container" id="main">

    <div id="header"></div>

    <div class="row c_center">
        <div style="margin-top:120px;">
            <h2>about community</h2>
            community By xuesenLi 2019 08 09
            <br/>
            <div style="text-align:center">
                <h4>
                    QQ: 1450002918<br/>
                    联系电话: 13101047720<br/>
                    Email : 1450002918@qq.com<br/>
                    GitHub: https://github.com/xuesenLi<br/>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="foot_line"></div>
<!-- container -->
<div id="footer">
    <a href="/">&nbsp;&nbsp;xuesen-community</a>
</div>
<!-- footer -->
</body>
</html>