<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxs.community.mapper.QuestionMapper">


    <!--模糊查找-->
    <select id="selectQuestionByTags" parameterType="question" resultType="question">
        SELECT * FROM question
        WHERE id != #{id} AND tag regexp #{tag}
    </select>

    <select id="countBySearch" parameterType="com.lxs.community.dto.QuestionQueryDTO" resultType="int">
        SELECT count(*) FROM question
        <where>
            <if test="search != null and search != ''">
                AND title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                AND tag regexp #{tag}
            </if>
        </where>
    </select>

    <!---->
    <select id="selectBySearch" parameterType="com.lxs.community.dto.QuestionQueryDTO" resultType="question">
        select * from question
        <where>
            <if test="search != null and search != ''">
                AND title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                AND tag regexp #{tag}
            </if>
        </where>
        order by gmt_create desc
        limit #{page}, #{size}

    </select>

</mapper>