<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxs.community.mapper.QuestionMapper">


    <!--模糊查找-->
    <select id="selectQuestionByTags" parameterType="question" resultType="question">
        SELECT * FROM question
        WHERE id != #{id} AND tag regexp #{tag}
    </select>


</mapper>